.file-dropper {
  border: 1px dashed black;
  height: 200px;
  background-color: bisque;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.file-dropper input {
  position: absolute;
  opacity: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.file-dropper:hover {
  background-color: gray;
  color: white;
  transition: 0.5s;
}
